 <section id="about">
    <div class="heading">
        <h1 class="mb-4 text-[#4c6085] font-bold tracking-tight leading-none">About</h1>
      </div>
    <div class="container">
    
      
      <label class="floating-label">
        <div class="input input-xs" id="inputFirst">
            <span>Hi I'm Jade-Luke</span>
        </div>
      </label>
      
      <label class="floating-label">
        <div class="input input-sm" id="inputTwo">
            <span>a 24-year-old Full Stack Developer based in South Africa</span>
        </div>
      </label>
      
      <label class="floating-label">
        <div class="input input-md" id="inputThree">
          <span>I'm passionate about building dynamic and user-friendly web applications</span>
        </div>
      </label>
      
      <label class="floating-label">
        <div class="input input-lg" id="inputFour">
          <span>  I’m always eager to learn more and tackle new challenges</span>
        </div>
      </label>
      
      <label class="floating-label">
        <div class="input input-xl" id="inputFive">
          <span>Let’s connect and build something great together!</span>
        </div>
      </label>
      
    </div>
  </section>
  

  