
  <div class="navbar bg-[#f5f6fa] sticky top-0 z-10 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li><a (click)="toAbout()">About</a></li>
          <li>
            <a (click)="toProjects()">Projects</a>
            <ul class="p-2">
              <li><a href="https://github.com/The-DigitalAcademy/mudau_travel" target="_blank">Travel Plan App</a></li>
              <li><a href="https://github.com/The-DigitalAcademy/Epic_reads" target="_blank">Library App</a></li>
              <li><a href="https://github.com/JadeLuke/Portfolio" target="_blank">Portfolio</a></li>
            </ul>
          </li>
          <li><a (click)="toSkills()">Skills</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl">Jade</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a (click)="toAbout()">About</a></li>
        <li>
          <a (click)="toSkills()"> <summary>Skills</summary></a>
        </li>
        <li><a (click)="toProjects()">Projects</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a  href="mailto:jadeluke.booysen@gmail.com" class="btn liquid">Email</a>
    </div>
  </div>