*{
    color: #3c4a68;
}
ul{
    align-items: baseline;
    margin-bottom: -5px;
}
.liquid {
    /* background: linear-gradient(#87b82a 0 0) no-repeat calc(200% - var(--p, 0%)) */
    background: linear-gradient(#4C6085 0 0) no-repeat calc(200% - var(--p, 0%))

    
      100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
      background-position 0.3s calc(0.3s - var(--t, 0s));
  }
  
  .liquid:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
    cursor: pointer;
  }

  .navbar{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

li:active{
  background-color:#4C6085 ;
}