.loader {
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #abb8ce;
    transform-origin: top;
    display: grid;
    animation: l3-0 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);  
    -ms-transform: translate(-50%, -50%);   
    -webkit-transform: translate(-50%, -50%);  
    -o-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);

  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    background:	#4c7d85;
    border-radius: 50%;
    transform-origin: top;
    animation: inherit;
    animation-name: l3-1;
  }
  .loader::after {
    background: #4c6085;
    --s:180deg;
  }
  @keyframes l3-0 {
    0%,20% {transform: rotate(0)}
    100%   {transform: rotate(360deg)}
  }
  @keyframes l3-1 {
    50% {transform: rotate(var(--s,90deg))}
    100% {transform: rotate(0)}
  }